<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>{{title}}</title>
		<style>
			{{style}}
		</style>
	</head>
	<body>
		<p class="created-by">
			Created using
			<a href="http://jamesgopsill.github.io/manu-script">manu-script</a>
		</p>
		<p class="published-in">{{publication}}</p>
		<h1 class="title">{{title}}</h1>

		<ul class="authors">
			{{authors}}
		</ul>

		<h4 class="abstract">Abstract</h4>

		{{abstract}}

		<h4 class="keywords">Keywords</h4>

		<ul class="keywords-list">
			{{keywords}}
		</ul>

		{{content}}

		<h4 class="references">References</h4>

		{{citations}}

	</body>
</html>